@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-list {
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);
  opacity: 0.9;
  animation: 10s myGradient infinite;
  box-shadow: 3px 3px 20px #ff3352;
  animation: 3s myWorld ease linear;
}

@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}


.nav-link {
  color: #fff;
  text-decoration: none;
  font-family: verdana;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 1;
}

.nav-link:hover{
  color: #333;
  text-shadow: 2px 2px 30px #fff;
  transition: 0.4s;
}


.navbar {
  transition: 3s;
  animation: 3s myAnimation ease linear;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}


@keyframes myWorld {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@media(max-width: 767px) {
  

}


.dropdown {
  display:none;
  background: red;
  color: #fff;
  font-family: verdana;
  padding: 10px 20px;
  height: 200px;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top:36px;
  left:50%;
  transform: translateX(-50%);
  transition: 1s;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #ff0d0d, #ff0d6e, #ff3d0d, #ffff00);
  animation: myLineargradient 6s infinite;
  box-shadow: 2px 3px 20px #ff1700;
}

@keyframes myLineargradient {
  0% {
    background-position: 0% 50%;
    box-shadow: 2px 3px 20px #ff1700;
  }
  
  50% {
    background-position: 100% 50%;
     box-shadow: none;
  }
  
  100% {
    background-position: 0% 50%;
     box-shadow: 2px 3px 20px #ff1700;
  }
}

.drop-item{
  display: block;
  cursor: pointer;
  text-shadow: 1px 2px 18px #fff;
  transition: 1s;
  margin-top: -5px;
}

.drop-item:hover{
  color: #333;
  text-shadow: 2px 2px 30px #fff;
  transition: 0.2s;
}

.drop-button:hover .dropdown{
  display: block;
}


.text-shadow {
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.noselect {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}